/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015. 11. 8, 오전 3:48:55
    Author     : shcho
*/
/*
	font usage
	font-family: 'Sarpanch', sans-serif;
	font-family: 'Lakki Reddy', cursive;
	font-family: 'Butcherman', cursive;
	font-family: 'Itim', cursive;
	font-family: 'Caveat Brush', cursive;
*/

.banner{
    background-color : lavender;
	font-size : 50px;
}
.navbar{

	background-color : #99FF99;

}
.toolbar{
    color : white;
}
ul{
    color : yellowgreen;
}
body{

	background : url('../data/bgimage/5.jpg');
	font-family: 'Caveat Brush', cursive;
        font-color : yellowgreen;
	
}
